{{ firm_name }}
{{ date }}

{{ client_name }}
Re: Engagement for {{ matter_title }}

Dear {{ client_name }},

We are pleased to confirm our engagement to represent you in connection with
the above-referenced matter. This letter sets forth the terms of our engagement.

SCOPE OF REPRESENTATION

{{ firm_name }} ("Firm") agrees to represent {{ client_name }} ("Client") with
respect to {{ matter_title }}. The scope of our representation is limited to
the matters described herein unless expanded by written agreement.

ATTORNEY RESPONSIBILITY

{{ attorney_name }} will be the attorney primarily responsible for this matter.
Other attorneys and staff members of the Firm may assist as appropriate.

FEES AND BILLING

Our fees for this engagement will be billed at our standard hourly rates.
We will provide monthly invoices detailing the services rendered.

CONFIDENTIALITY

All information you provide to us will be kept confidential in accordance with
applicable rules of professional conduct and attorney-client privilege.

TERMINATION

Either party may terminate this engagement at any time upon written notice,
subject to applicable ethical obligations.

Please review this letter carefully. If the terms are acceptable, please sign
and return one copy to us.

We look forward to working with you.

Sincerely,

{{ attorney_name }}
{{ firm_name }}
